.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 1);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.styled:hover {
    background-color: rgba(77, 86, 86, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

table{
	border-spacing: spacing;
	border: 1px solid black;
	margin: 13% 43.625%;
}

th{
	border: 2px solid black;
}

td{
	border: 2px solid black;
}


#d button{
	padding: 0px 22px
}

#c button{
	padding: 0px 26px
}

#p button{
	padding: 0px 22px
}

#o button{
	padding: 0px 20.5px
}
